.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	/*background-color: #003d66;*/
	background-color: #0059b3;
	color: #fff;
}

.navbar-inverse {
    background-color: #0059b3;
    border-color: #080808;
    color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}


footer.container-fluid {
	background-color: #0059b3;
}

footer.container-backend {
	background-color: #0059b3;
}

footer {
	color: #fff;
}


div.col-md-4 ul {
	text-align: center;
}

div.col-md-4 li {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 20px;
}

div.col-md-4 p.text-center {
	margin-top: 30px;
	margin-bottom: 30px;
}

/*Backend*/
div.col-md-4.backend ul {
	text-align: center;
}

div.col-md-4.backend li {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 5px;
}

div.col-md-4.backend p.text-center {
	margin-top: 30px;
	margin-bottom: 30px;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #0059b3;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}